.shared-button {
  text-decoration: none;
  color: white;
  background-color: #2c6b8b;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin: 1rem 0.5rem 0 0;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.shared-button:hover {
  opacity: 0.8;
}
